<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"
                        menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>reservacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Reervación</ion-card-title>      
    </ion-card-header>
  
    <ion-card-content>
      <ion-item> 
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item> 
        <ion-label position="floating">Día</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position="floating">Hora</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item> 
        <ion-label position="floating">Cantidad de personas</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <br>
      <ion-button>
        Reservar
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
