<ion-menu contentId="main-content"
          side="start"
          menuId="primerMenu">
<ion-header>
<ion-toolbar color="primary">
<ion-title> Menú </ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
<ion-list>

<ion-item button (click)="cambiarPagina('/productos')">Productos</ion-item>
<ion-item button (click)="cambiarPagina('/login')">Inicio de sesión</ion-item>
<ion-item button (click)="cambiarPagina('/reservacion')">Reservación</ion-item>
<ion-item button (click)="cambiarPagina('')">Cerrar sesión</ion-item>
</ion-list>
</ion-content>
</ion-menu>
