<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary" menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-avatar>
      <ion-img src="\assets\IMAGENES\langosta.jpg"></ion-img>
    </ion-avatar>
      <ion-label>Langosta cocida</ion-label>
      <ion-label>$300</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
      <ion-img src="\assets\IMAGENES\bolitas.jpg"></ion-img>
    </ion-avatar>
      <ion-label>Bolitas de arroz</ion-label>
      <ion-label>$125</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
      <ion-img src="\assets\IMAGENES\doscarnes.jpg"></ion-img>
    </ion-avatar>
      <ion-label>Carne de res con acompañamiento</ion-label>
      <ion-label>$175</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
      <ion-img src="\assets\IMAGENES\ostras.jpg"></ion-img>
    </ion-avatar>
      <ion-label>Ostras</ion-label>
      <ion-label>$200</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
      <ion-img src="\assets\IMAGENES\postrechocolate.jpg"></ion-img>
    </ion-avatar>
      <ion-label>Postre chocolate</ion-label>
      <ion-label>$80</ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar>
      <ion-img src="\assets\IMAGENES\postrefresa.jpg"></ion-img>
    </ion-avatar>
      <ion-label>Postre de fresa</ion-label>
      <ion-label>$90</ion-label>
    </ion-item>
 </ion-list>
</ion-content>
