<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"
                        menu="primerMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>      
    </ion-card-header>
  
    <ion-card-content>
      <form >
      <ion-item> 
        <ion-label position="floating" aria-label="Email">Correo</ion-label>
        <ion-input type="text" [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item> 
        <ion-label position="floating" aria-label="Password">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
      
      <br>
      <ion-button size="larger" (clcik)="onRegister">Registrar</ion-button>
  
    </form>

    </ion-card-content>
  </ion-card>
</ion-content>
